.header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    font-family: 'Rubik Mono One', sans-serif;
    background-image: url("../assets/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.logo-div {
    box-shadow: 10px 10px 20px rgb(55, 65, 81) inset;
}

.shop-logo {
    background-image: url("../assets/header-logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 500ms;
    min-height: 65px;
    min-width: 120px;
    height: 9vh;
    width: 9vw;

}

.shop-logo:hover {
    background-image: url("../assets/logo-hover.jpeg");
    border-radius: 50%;
}


.main {
    background: #495057;
    border-bottom: black 0.5vh solid;
}


.text-custom {
    font-family: 'Cuprum', sans-serif;
}

.aside-font {
    font-family: 'Rubik Mono One', sans-serif;
}
